@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.globals-text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  scroll-behavior: smooth;
}

h1 {
  @apply md:text-[61.04px] !important;
}

h2 {
  @apply md:text-[48.83px] !important;
}

h3 {
  @apply md:text-[39.06px] !important;
}

h4 {
  @apply md:text-[31.25px] !important;
}

h5 {
  @apply md:text-[25px] !important;
}

h6 {
  @apply md:text-[20px] !important;
}

p {
  @apply md:text-[16px] !important;
}

small {
  @apply md:text-[12.8px] !important;
}

@keyframes glide {
  100% {
    top: 85vh;
    left: 100vw;
  }
}