# Core dependencies
numpy
networkx
matplotlib
pandas
karney
polyline
supabase

# FastAPI
fastapi
uvicorn
python-multipart

# Python utilities
six
typing-extensions
python-dateutil
pillow
python-dotenv
Requests

httpx
