# Core dependencies
numpy==2.2.3
networkx==3.4.2
matplotlib==3.10.1
pandas==2.2.3

# FastAPI
fastapi==0.109.2
uvicorn==0.27.1
python-multipart==0.0.7  # For file uploads

# Python utilities
six
typing-extensions==4.8.0
python-dateutil==2.9.0.post0
pillow==11.1.0  # For image processing 